build/index.html
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if lt IE 10]> <html class="no-js lt-ie10" lang="en-us"> <![endif]-->
<!--[if !IE]> > <![endif]-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <title>test</title>
    <meta charset='utf-8' content='text/html' http-equiv='content-type'>
    <meta content='ie=edge,chrome=1' http-equiv='x-ua-compatible'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1' media='(device-height: 568px)' name='viewport'>
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='black-translucent' name='apple-mobile-web-app-status-bar-style'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body class='index'>
    <div class='wrap'>
      <div class='top col-1 item'>
        <a href='#'>
          <span></span>
        </a>
        <div class='discount'>
          72%
          <br>
          off
        </div>
        <img alt='' src='http://placehold.it/234x251'>
        <div class='desc'>
          <header>
            <div class='alignleft'>
              <div class='price'>
                $49.99
              </div>
              <div class='old-price'>
                $89.99
              </div>
            </div>
            <div class='alignright'>
              <div class='store'>
                Amazon
              </div>
            </div>
          </header>
          <section>
            Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
          </section>
          <footer>
            <div class='shipping'>
              Free Shipping
            </div>
            <div class='status'>
              New
            </div>
            <div class='time'>
              00:02:29
            </div>
          </footer>
        </div>
      </div>
      <div class='col-2 orange'>
        <div class='item'>
          <a href='#'>
            <span></span>
          </a>
          <div class='discount'>
            72%
            <br>
            off
          </div>
          <img alt='' src='http://placehold.it/155x133'>
          <div class='desc'>
            <header>
              <div class='alignleft'>
                <div class='price'>
                  $49.99
                </div>
                <div class='old-price'>
                  $89.99
                </div>
              </div>
              <div class='alignright'>
                <div class='store'>
                  Amazon
                </div>
              </div>
            </header>
            <section>
              Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
            </section>
            <footer>
              <div class='shipping'>
                Free Shipping
              </div>
              <div class='status'>
                New
              </div>
              <div class='time'>
                00:02:25
              </div>
            </footer>
          </div>
        </div>
        <div class='item'>
          <a href='#'>
            <span></span>
          </a>
          <div class='discount'>
            72%
            <br>
            off
          </div>
          <img alt='' src='http://placehold.it/155x133'>
          <div class='desc'>
            <header>
              <div class='alignleft'>
                <div class='price'>
                  $49.99
                </div>
                <div class='old-price'>
                  $89.99
                </div>
              </div>
              <div class='alignright'>
                <div class='store'>
                  Amazon
                </div>
              </div>
            </header>
            <section>
              Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
            </section>
            <footer>
              <div class='shipping'>
                Free Shipping
              </div>
              <div class='status'>
                New
              </div>
              <div class='time'>
                00:02:29
              </div>
            </footer>
          </div>
        </div>
      </div>
      <div class='col-2 yellow'>
        <div class='item'>
          <a href='#'>
            <span></span>
          </a>
          <div class='discount'>
            72%
            <br>
            off
          </div>
          <img alt='' src='http://placehold.it/155x133'>
          <div class='desc'>
            <header>
              <div class='alignleft'>
                <div class='price'>
                  $49.99
                </div>
                <div class='old-price'>
                  $89.99
                </div>
              </div>
              <div class='alignright'>
                <div class='store'>
                  Amazon
                </div>
              </div>
            </header>
            <section>
              Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
            </section>
            <footer>
              <div class='shipping'>
                Free Shipping
              </div>
              <div class='status'>
                New
              </div>
              <div class='time'>
                00:02:25
              </div>
            </footer>
          </div>
        </div>
        <div class='item'>
          <a href='#'>
            <span></span>
          </a>
          <div class='discount'>
            72%
            <br>
            off
          </div>
          <img alt='' src='http://placehold.it/155x133'>
          <div class='desc'>
            <header>
              <div class='alignleft'>
                <div class='price'>
                  $49.99
                </div>
                <div class='old-price'>
                  $89.99
                </div>
              </div>
              <div class='alignright'>
                <div class='store'>
                  Amazon
                </div>
              </div>
            </header>
            <section>
              Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
            </section>
            <footer>
              <div class='shipping'>
                Free Shipping
              </div>
              <div class='status'>
                New
              </div>
              <div class='time'>
                00:02:29
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <!-- = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js' -->
    <!-- = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' -->
    <!-- = javascript_include_tag 'application' -->
  </body>
</html>

source/index.html.haml
---
title: test
body_class: index
---

.wrap
	.top.col-1.item
		%a{:href => "#"}
			%span
		.discount
			72%
			%br/
			off
		%img{:src => "http://placehold.it/234x251", :alt => ""}/
		.desc
			%header
				.alignleft
					.price
						$49.99
					.old-price
						$89.99
				.alignright
					.store
						Amazon
			%section
				Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
			%footer
				.shipping
					Free Shipping
				.status
					New
				.time
					00:02:29

	.col-2.orange
		.item
			%a{:href => "#"}
				%span
			.discount
				72%
				%br/
				off
			%img{:src => "http://placehold.it/155x133", :alt => ""}/
			.desc
				%header
					.alignleft
						.price
							$49.99
						.old-price
							$89.99
					.alignright
						.store
							Amazon
				%section
					Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
				%footer
					.shipping
						Free Shipping
					.status
						New
					.time
						00:02:25
		.item
			%a{:href => "#"}
				%span
			.discount
				72%
				%br/
				off
			%img{:src => "http://placehold.it/155x133", :alt => ""}/
			.desc
				%header
					.alignleft
						.price
							$49.99
						.old-price
							$89.99
					.alignright
						.store
							Amazon
				%section
					Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
				%footer
					.shipping
						Free Shipping
					.status
						New
					.time
						00:02:29							
	
	.col-2.yellow
		.item
			%a{:href => "#"}
				%span
			.discount
				72%
				%br/
				off
			%img{:src => "http://placehold.it/155x133", :alt => ""}/
			.desc
				%header
					.alignleft
						.price
							$49.99
						.old-price
							$89.99
					.alignright
						.store
							Amazon
				%section
					Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
				%footer
					.shipping
						Free Shipping
					.status
						New
					.time
						00:02:25
		.item
			%a{:href => "#"}
				%span
			.discount
				72%
				%br/
				off
			%img{:src => "http://placehold.it/155x133", :alt => ""}/
			.desc
				%header
					.alignleft
						.price
							$49.99
						.old-price
							$89.99
					.alignright
						.store
							Amazon
				%section
					Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
				%footer
					.shipping
						Free Shipping
					.status
						New
					.time
						00:02:29		
